@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br /><br />
    24 Miller Drive SE<br />
    Mossyrock, WA 98564<br />
    <abbr title="Phone">P:</abbr>
    360.555.0100
</address>

<address>
    <strong>Customer Service:</strong>   <a href="mailto:Support@example.com">CustomerService@miller.com</a><br />
    <strong>Information:</strong> <a href="mailto:Marketing@example.com">Info@miller.com</a>
</address>