@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron shadow">
    <h1>Miller Automobile Insurance</h1>
    <p class="lead">Miller Auto Insurance is your solution to affordable automobile insurance. We were born in your community. We’re from here. We’re based here. So we know that auto insurance isn’t just about protecting your vehicle. It’s about protecting your commute. Safeguarding your family’s ride to school. Defending your next great adventure so that you can worry less and live more.</p>
    <p><a href="~/Home/Quote" class="btn btn-primary btn-lg">Get a Quote &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 shadow">
        <h2>Insurance for..</h2>
        <p>
            <img src="~/img/subaru_crosstrek.jpg" class="rounded img-fluid" alt="Subaru Crostrek" />
        </p>
    </div>
    <div class="col-md-4 shadow">
        <h2>Any Vehicle..</h2>
        <p>
            <img src="~/img/ford_focus_rs.jpg" class="rounded img-fluid" alt="Ford Focus RS" />
        </p>
    </div>
    <div class="col-md-4 shadow">
        <h2>Any Driver..</h2>
        <p>
            <img src="~/img/dodge_3500.jpg" class="rounded img-fluid" alt="Dodge 3500" />
        </p>
    </div>
</div>